{% extends 'article/list_types.html' %}
{% block content %}<div class="form" style="min-height:450px ; padding-right:20px;padding-left:20px;padding-bottom:0px;">
<p style="font-size:24px;background:white;margin-bottom:-24px;"> Жыл сайын оқутышылық профессорлық құрамының ғылыми нәтижелеріне қатысты жетістіктері туралы мәліметтерді
    жинақтау және мониторингтауды электронды форматқа ауыстыру арқылы уақытты тиімді ұйымдастыруды жүзеге асыру жұмыстың өзектілігін көрсетеді.
Профессорлық оқытушылық құрамының ғылыми жұмыстарының нәтижесін бақылау және мониторинг жасауға арналған бағдардамалық
    кешен құру. Жұмыс нәтижесінде жоғарғы оқу орындарында профессорлық оқытушылық құрамының ғылыми жұмыстарын жинап тексеруге
    арнайы бағдарламалық кешен болады.
    Профессорлық оқытушылық құрамының ғылыми жұмыстарын тексеру үшін маңызды критерийлер бар. Олар:</p>
  <ul style="font-size:24px;background:white;color:black;margin-bottom:-24px;">
<li style="color:black">-	Халықаралық конференциялар</li>
<li style="color:black">-	Ғылыми жетістіктер</li>
<li style="color:black">-	Ғылыми мақалалар</li>
<li style="color:black">-	Шетел студенттер саны</li></ul>
  <p style="font-size:24px;background:white"> Халықаралық конференциялар – бұл критерий профессорлық оқытушылық құрамының басқа мемлекеттермен
    бірге қандай да бір маңызды тақырыпқа байланысты өткізілген онлайн немесе оффлайн конференцияның сипаттамасын көрсетеді.</p>
</div>
{% endblock %}