{% extends 'article/list_types.html' %}
{% load static %}


{% block form %}
<div class="form"  >
    <h1 align="center" style="margin-left:-0.2px;background-color:white; color:black;">Шетел студенттердің санын енгізу</h1>
<form action="{% url 'add_students' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{ form.non_field_errors }}</div>

{% for f in form %}
<p align="center"><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}:</p> </label>
    <br> <div style="margin-left:-10px">{{ f }}</div>
<div class="form-error">{{ f.errors }}</div>
{% endfor %}

    <button type="submit" class="alert-warning" ><p>Енгізу</p></button>
</form>
</div>
{% endblock %}
